@import "variables";

header {
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;

    img {
        width: 125px;
        height: 125px;
        margin-top: 116px;
    }

    h1 {
        margin: 0px;
        font-size: 46px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.75px;
        color: $titles;
        margin-top: 47px;
    }
}

@media (max-width: 375px) {
    header {
        background-image: url(../images/bg-header-mobile.png);
        
        h1 {
            font-size: 32px;
            letter-spacing: -0.522px;
            margin-left: 32px;
            margin-right: 32px;

        }
    }
}
